body {
	margin :0,
	
	display: flex;
	justify: center;
	align-item: center;
	}


#gameCanvas {
    width: 800px;
    max-width: 95vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

#controls {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

#controls button {
    width: 80px;
    height: 60px;
    font-size: 30px;
    margin: 3px;
}
