body {
	margin :0,
	
	display: flex;
	justify: center;
	align-item: center;
	}


#gameCanvas {
    width: 800px;
    max-width: 95vw;
    height: auto;
    display: block;
    margin: 0 auto;
}
