body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

#controls {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

#controls button {
    width: 70px;
    height: 60px;
    font-size: 30px;
    margin: 3px;
}
